@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
}
.topbar{
  width: 100%;
  background-color: #dfe3ed;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar-label{
background-color: #021048;  
color: #fff;
padding: 0.2rem 0.7rem;
border-radius: 0.2rem;
font-size: 00.9rem;

}
.topbar-text{
  margin-left: 1rem;
  color: #142149;
  font-size: 1rem;
}

.hero {
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#021048),
    to(#1e38a3)
  );
  background: linear-gradient(90deg, #021048, #1e38a3);
  width: 100%;
  overflow: hidden;
}

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 2.2rem 5.5rem;
}

.hero-header-logo {
  width: 9rem;
}

.hero-header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-header-btns-link {
  color: #fff;
  border: 0.1rem solid rgba(223, 226, 235, 0.32);
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-header-btns-link:nth-child(1) {
  margin-right: 2rem;
}

.hero-header-btns-link:hover {
  background-color: rgba(255, 255, 255, 0.062);
}

.hero-main {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.hero-main-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.hero-main-2 {
  color: rgba(229, 235, 255, 0.8);
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 2rem;
}

.hero-form {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.301);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.301);
  position: relative;
  z-index: 100;
  width: 30rem;
  margin: auto;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 0.3rem;
}

.hero-form-heading {
  text-align: center;
}

.hero-form-heading-1 {
  color: #142149;
  font-weight: 700;
  font-size: 2rem;
}

.hero-form-heading-2 {
  color: #007bfc;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.2rem;
}

.hero-form-email,
.hero-form-pass {
  margin-top: 2rem;
  position: relative;
  width: 100%;
}

.hero-form-email-input,
.hero-form-pass-input {
  width: 100%;
  border: 0.15rem solid #d3d6e2;
  background-color: #fff;
  font-size: 1rem;
  padding: 1rem 2rem;
  outline: none;
  padding-left: 3.2rem;
  color: #525666;
  border-radius: 0.1rem;
}

.hero-form-email-input:focus,
.hero-form-pass-input:focus {
  border: 0.15rem solid #007bfc;
}

.hero-form-email-icon,
.hero-form-pass-icon {
  position: absolute;
  width: 1.5rem;
  left: 1.2rem;
  top: 1rem;
}

.hero-form-submit {
  display: block;
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: #007bfc;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

.hero-bottom {
  margin-top: -18rem;
}

.hero-svg {
  position: absolute;
  bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.hero-svg-left,
.hero-svg-right {
  width: 20rem;
}

.hero-svg-left {
  margin-left: -12rem;
}

.hero-svg-right {
  margin-right: -12rem;
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 3rem 7rem;
}

.about-section-col {
  width: 45%;
}
.about-section-col-heading {
  color: #142149;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.youtube-video {
  width: 100%;
  height: 20rem;
}

.about-section-col-description {
  color: #525666;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-section-col-description p {
  margin-bottom: 1rem;
}

.map {
  background-color: #fff;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.map-heading {
  text-align: center;
  color: #142149;
  font-weight: 700;
  font-size: 2.5rem;
}

.map-desc {
  color: #525666;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 2rem;
}

.map-svg {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.map-svg-locations {
  position: absolute;
  right: 10rem;
  top: 0rem;
  background-color: #fff;
  padding: 3rem 3rem;
  border-radius: 50%;
  text-align: center;
  color: #007bfc;
  -webkit-box-shadow: 0 15px 70px rgba(0, 0, 0, 0.158);
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.158);
}

.map-svg-locations-number {
  font-size: 2.5rem;
  font-weight: 500;
}

.map-svg-img {
  width: 80%;
}

.map-svg-btn {
  background-color: #fff;
  color: #007bfc;
  border: 0.1rem solid #007bfc;
  border-radius: 0.1rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.differences {
  padding: 5rem 0;
}

.differences-heading {
  text-align: center;
  color: #142149;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.differences-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 5rem 0;
}

.differences-row-col {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.differences-row-col-icon {
  width: 5rem;
  margin-bottom: 2rem;
}

.differences-row-col-heading {
  color: #142149;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.differences-row-col-text {
  color: #525666;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.differences-row-col-text-link {
  color: #007bfc;
}

.worldwide {
  padding: 8rem 0;
  background-color: #fff;
  border-top: 0.1rem solid #edeef2;
  border-bottom: 0.1rem solid #edeef2;
  position: relative;
  overflow: hidden;
}

.worldwide-heading {
  font-size: 2.5rem;
  color: #142149;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.worldwide-desc {
  width: 60%;
  text-align: center;
  color: #525666;
  font-size: 1.4rem;
  margin: auto;
  font-weight: 300;
  line-height: 2rem;
}

.worldwide-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20rem;
  margin: auto;
  margin-top: 5rem;
  position: relative;
  z-index: 1000;
}

.worldwide-tabs-link {
  margin-left: 2rem;
  color: #142149;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 1.5rem;
  border-bottom: 0.2rem solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.worldwide-tabs-link:nth-child(1) {
  margin-left: 0;
}

.worldwide-tabs-link-active {
  border-bottom: 0.2rem solid #007bfc;
  color: #007bfc;
}

.worldwide-tabs-link:hover {
  color: #007bfc;
}

.worldwide-tabs-img {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  -webkit-box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.137);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.137);
}

.worldwide-tabs-btn {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #007bfc;
  margin: auto;
  margin-top: 3rem;
  width: 16rem;
  text-align: center;
  font-weight: 600;
}

.worldwide-svg {
  position: absolute;
  bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.worldwide-svg-left,
.worldwide-svg-right {
  width: 15rem;
}

.worldwide-svg-left {
  margin-left: -12rem;
}

.worldwide-svg-right {
  margin-right: -12rem;
}

.feature {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.feature-img {
  width: 30rem;
  -webkit-box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.137);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.137);
}

.feature-col {
  margin-left: 5rem;
}

.feature-col-heading {
  color: #142149;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feature-col-desc {
  color: #525666;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

.feature-col-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1rem;
}

.feature-col-detail-numbers {
  margin-left: 1rem;
}

.feature-col-detail-numbers-sub {
  color: #525666;
  font-size: 0.9rem;
}

.feature-col-detail-numbers-sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #007bfc;
}

.feature-col-detail-numbers-sup-bold {
  font-weight: 600;
  font-size: 3rem;
}

.feature-col-detail-numbers-sup-light {
  font-weight: 300;
  font-size: 2rem;
  margin-left: 1rem;
}

.feature-col-2 {
  margin-left: 0;
  margin-right: 5rem;
}

.deploy {
  padding: 8rem 0;
  background-color: #fff;
  border-top: 0.1rem solid #edeef2;
  border-bottom: 0.1rem solid #edeef2;
}

.deploy-heading {
  font-size: 2.5rem;
  color: #142149;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.deploy-desc {
  width: 60%;
  text-align: center;
  color: #525666;
  font-size: 1.4rem;
  margin: auto;
  font-weight: 300;
  line-height: 2rem;
}

.deploy-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20rem;
  margin: auto;
  margin-top: 5rem;
}

.deploy-tabs-link {
  margin-left: 2rem;
  color: #142149;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 1.5rem;
  border-bottom: 0.2rem solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.deploy-tabs-link:nth-child(1) {
  margin-left: 0;
}

.deploy-tabs-link-active {
  border-bottom: 0.2rem solid #007bfc;
  color: #007bfc;
}

.deploy-tabs-link:hover {
  color: #007bfc;
}

.deploy-btn {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #007bfc;
  margin: auto;
  margin-top: 3rem;
  width: 16rem;
  text-align: center;
  font-weight: 600;
}

.deployed-container {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
}

.deployed {
  width: 100%;
  -webkit-box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.301);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.301);
  padding-top: 3rem;
  padding-right: 2rem;
  display: none;
}

.deployed-active {
  display: block;
}

.deployed-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.deployed-row-col {
  width: 10rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0;
}

.deployed-row-col-img {
  width: 4rem;
  margin-bottom: 1rem;
}

.deployed-row-col-heading {
  color: #525666;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}

.deployed-row-col-desc {
  color: #007bfc;
}

.deployed-row-col:hover .deployed-row-col-heading {
  color: #007bfc;
  font-weight: 500;
}

.footer {
  padding: 5rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#021048),
    to(#1e38a3)
  );
  background: linear-gradient(90deg, #021048, #1e38a3);
  width: 100%;
}

.footer-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-row-col {
  width: 10rem;
}

.footer-row-col-heading {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-row-col-link {
  display: block;
  margin-bottom: 0.5rem;
  color: rgba(229, 235, 255, 0.56);
  font-weight: 300;
  font-size: 0.9rem;
}

.footer-row-col-link:hover {
  color: #fff;
}

.footer-row-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-row-second-text {
  color: rgba(229, 235, 255, 0.56);
  font-weight: 300;
}

.footer-row-second-icons {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-row-second-icons-img {
  width: 2rem;
  margin-left: 1rem;
}

.footer-divider {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(229, 235, 255, 0.56);
  margin-bottom: 2rem;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-bottom-left-logo {
  width: 10rem;
}

.footer-bottom-left-text {
  margin-left: -6rem;
  color: #fff;
}

.footer-bottom-left-text-desc {
  color: rgba(223, 226, 235, 0.32);
  font-size: 0.9rem;
}

.footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30rem;
  color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-bottom-right-link {
  color: rgba(223, 226, 235, 0.32);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-bottom-right-link:hover {
  color: #fff;
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1180px) {
  .hero-header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero-header-btns {
    display: none;
  }
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .feature-img {
    margin-top: 2rem;
  }
  .feature-col-2 {
    margin-top: 2rem;
  }
  .footer {
    padding: 5rem 2rem;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer-bottom-right {
    margin-top: 3rem;
    width: 60%;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 14px;
  }
  .feature-col-2 {
    margin-left: 5rem;
    margin-right: 0rem;
  }
  .about-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-section-col {
    text-align: center;
    width: 90%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 660px) {
  .hero-main-1,
  .hero-main-2 {
    padding: 0 2rem;
  }

  .feature-col {
    margin-left: 0;
  }
  .deployed-row-col {
    margin-bottom: 0rem;
  }
  .deployed-container {
    width: 80%;
  }
  .worldwide-svg {
    display: none;
  }
  .hero-form {
    width: 98%;
    padding: 3rem 1rem;
  }
  .map-svg-locations {
    right: 3rem;
    padding: 1rem 0.8rem;
  }
  .map-svg-locations-number {
    font-size: 2rem;
  }
  .deployed-row-col {
    margin-left: 0;
  }
  .deployed {
    padding-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  .worldwide-desc,
  .deploy-desc {
    width: 80%;
  }
  .worldwide-tabs-img {
    width: 80% !important;
  }
  .feature-img {
    width: 100%;
  }
  .footer-row-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer-row-second-icons {
    margin-top: 2rem;
    width: 100%;
  }
  .footer-bottom-right {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */
