.vultr-logo {
  margin: 0;
  size: 5px;
  float: left;
}
.container {
  width: 80%;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
